<div style="text-align: center;">

  <div class="currentLevel">
    <h1>Level {{ currentLevel }}</h1>
  </div>

  @if (showMenu) {
    <div class="pauseMenu">
      <h1 (click)="continueGame()">Continue</h1>
      <h1 (click)="openSaveMenu()">Save Game</h1>
      <h1 (click)="goToMainMenu()">Main Menu</h1>
    </div>
  }




  @if (showSaveMenu){
   <app-save-slots [currentLevel]="currentLevel"
                   [maze]="maze"
                   [playerX]="playerX"
                   [playerY]="playerY"
                   [showSaveMenu]="showSaveMenu"
                   [goalCol]="goalCol"
                   [goalRow]="goalRow"
                   (closeSaveMenu)="showSaveMenu = false"
   />
  }

  <section>
    <canvas id="maze"></canvas>
  </section>

</div>
