<!--<img class="backgroundImage" src="assets/menu/background.gif">-->


<div class="menu">
  <button (click)="redirectTo('maze')" style="background-color: #bc3a3a;">New Game</button>
  <button (click)="redirectTo('maze?slot=autosave')" style="background-color: #bc3a3a;">Continue</button>
  <button (click)="redirectTo('menu/saves')" style="background-color: #bc3a3a;">Load Game</button>
  <button (click)="redirectTo('menu/settings')" style="background-color: #bc3a3a;">Settings</button>
  <button (click)="redirectTo('menu/credits')" style="background-color: #bc3a3a;">Credits</button>
</div>



