<div class="menu">


  <div class="credits">


    <button class="closeButton" (click)="redirectTo('menu')">X</button>


    <h1>Made by: Dmytro Savchuk (IPZk-24-1)</h1>
    <h1>Project from discipline "Component oriented programming"</h1>
    <h1>Theme: <span style="color: #6abc3a">Maze runner game</span></h1>

    <h2>Image Assets:</h2>

    <ul>
      <li>
        <a
          href="https://cdna.artstation.com/p/assets/images/images/071/087/584/original/fatih-emir-bg-design.gif?1704403912">main
          menu background</a>
      </li>
    </ul>


    <h2>Music: </h2>


    <ul>

      <li>
        <a href="https://www.youtube.com/watch?v=5bn3Jmvep1k">8-Bit Fantasy & Adventure Music by xDeviruchi</a>
      </li>

    </ul>

  </div>


</div>
