<div class="menu" [style.justify-content]="verticalAlign">
  <div class="credits" [style.width]="containerWidth">

    <button class="closeButton"
            [style.background-color]="closeButtonColor"
            (click)="redirectTo('menu')">X
    </button>

    <h1 [style.color]="'white'">Made by: Dmytro Savchuk (IPZk-24-1)</h1>
    <h1 [style.color]="'white'">Project from discipline "Component oriented programming"</h1>

    <h1 [style.color]="'white'">
      Theme: <span [style.color]="themeColor">Maze runner game</span>
    </h1>

    <div class="credits-content">
      <h2 [style.color]="'white'">Image Assets:</h2>
      <ul>
        <li>
          <a [style.color]="themeColor" target="_blank"
             href="https://cdna.artstation.com/p/assets/images/images/071/087/584/original/fatih-emir-bg-design.gif?1704403912">
            main menu background
          </a>
        </li>
        <li>
          <a [style.color]="themeColor" target="_blank"
             href="https://monopixelart.itch.io/skeletons-pack?download">
            skeleton enemies
          </a>
        </li>
        <li>
          <a [style.color]="themeColor" target="_blank"
             href="https://monopixelart.itch.io/forest-monsters-pixel-art">
            mushroom enemies
          </a>
        </li>
        <li>
          <a [style.color]="themeColor" target="_blank"
             href="https://admurin.itch.io/free-chest-animations">
            chests
          </a>
        </li>
      </ul>

      <h2 [style.color]="'white'">Music:</h2>
      <ul>
        <li>
          <a [style.color]="themeColor" target="_blank"
             href="https://www.youtube.com/watch?v=5bn3Jmvep1k">
            8-Bit Fantasy & Adventure Music by xDeviruchi
          </a>
        </li>
      </ul>

      <h2 [style.color]="'white'">Special thanks to:</h2>
      <ul>
        <li>
          <p [style.color]="'white'">Chat GPT for image generation</p>
        </li>
        <li>
          <p [style.color]="'white'">My groupmates for testing</p>
        </li>
      </ul>
    </div>

  </div>
</div>
