<img class="backgroundImage" src="assets/menu/background.gif">


<div class="menu">
  <button (click)="redirectTo('maze')" style="background-color: #d83434;">New Game</button>
  <button style="background-color: #d83434;">Continue</button>
  <button style="background-color: #d83434;">Load Game</button>
  <button style="background-color: #d83434;">Infinite mode</button>
  <button style="background-color: #d83434;">Settings</button>
  <button (click)="redirectTo('menu/credits')" style="background-color: #d83434;">Credits</button>
</div>


